{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"env": {
		"node": true,
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"project": "tsconfig.json"
	},
	"extends": [
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"@typescript-eslint/indent": [2, "tab", {"SwitchCase": 1}],
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/type-annotation-spacing": 0,
		"@typescript-eslint/explicit-member-accessibility": 0,
		"@typescript-eslint/no-parameter-properties": 0,
		"@typescript-eslint/no-triple-slash-reference": 0,
	}
}